<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Tarefa</title>
</head>
<body>
  <h1>Criar Tarefa</h1>
  <a href="/task">Voltar para Lista de Tarefas</a>
  <form action="/task" method="POST">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required>
    <br>
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" required>
    <br>
    <label for="completada">Completada:</label>
    <input type="checkbox" id="completada" name="completada">
    <br>
    <button type="submit">Adicionar Tarefa</button>
  </form>
</body>
</html>